<ul>
<li><a class="headline" ref="https://nytimes.com/{{link}}">{{title}}</a>
<br> &nbsp;&nbsp;&nbsp;&nbsp;
<span class="fail sad vote {{#if sad.highlighted}}red{{/if}}" data-id="{{_id}}">sad ({{sad.count}})</span> &nbsp;&nbsp;
<span class="fail fake vote {{#if fake.highlighted}}red{{/if}}" data-id="{{_id}}">fake ({{fake.count}})</span> &nbsp;&nbsp;
<span class="fail boring vote {{#if boring.highlighted}}red{{/if}}" data-id="{{_id}}">boring ({{boring.count}})</span> &nbsp;&nbsp;
<a href="https://nytimes.com/{{link}}"><i class="material-icons">open_in_new</i></a>
</li>
<br>
  {{#each comments}}
  <li>
    <span class="comment">{{text}}</span>
    <span class="username"><a href="/user/{{user._id}}">{{user.name}}</a></span>
    </li>
  {{/each}}
</ul>
{{#if loggedIn}}
<form id="commentForm" data-id="{{_id}}">
  <textarea></textarea>
  <input type="submit" value="Submit">
</form>
{{/if}}